* {
  box-sizing: border-box;
}
body {
  font: 1.2em "Times New Roman", serif;
  width: 400px;
}
button {
  font: bold 13px "URW Palladio L", serif;
  border-radius: 5px;
  border-width: 2px;
  margin-left: 5px;
  height: 30px;
  background: rgb(214, 214, 214);
  opacity: 1;
  overflow: hidden;
}
div {
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  border-style:groove;
  width: 400px;
  background: rgba(196,196,196,1);
  overflow: hidden;
  margin-bottom: 2px;
}
.invitem {
  border-width: 1px;
  height: 60px;
  width: 60px;
  margin: 0px;
  font-size: 200%;
  border-color: rgb(133, 133, 133);
}
.invblock {
  width: 190px;
  height: 180px;
  box-sizing: border-box;
}
.dialogblock {
  height: 300px;
  overflow: auto;
  box-sizing: border-box;
}

.dialog {
  height: 100px;
  overflow: auto;
  box-sizing: border-box;
}
