* {
  box-sizing: border-box;
}
body {
  font-size: 15px;
  width: 400px
}
button {
  border-radius: 5px;
  margin-left: 5px;
  border: ;
  height: 30px;
  background: rgb(214, 214, 214);
  opacity: 1;
  overflow: hidden;
}
div {
  width: 400px;
  background: rgba(196,196,196,1);
  overflow: hidden;
}
.invitem {
  border: 5px;
  border-radius: 5px;
  height: 60px;
  width: 60px;
  margin: 0px;
  font-size: 200%;
  border-color: white;
  opacity: 1;
}
.invblock {
  width: 190px;
  height: 180px;
  box-sizing: border-box;
}
.dialogblock {
  height: 300px;
  overflow: auto;
  box-sizing: border-box;
}

.dialog {
  height: 100px;
  overflow: auto;
  box-sizing: border-box;
}
